[submodule "vendor/online-boutique"]
	path = vendor/online-boutique
	url = https://github.com/jonasluz/microservices-demo.git
[submodule "reports"]
	path = reports
	url = https://github.com/jonasluz/DIA.kubernetes-istio.report.git